
<h2>Project Teams</h2>
<span class="teams-h-main">
  
     {% for team in site.data.teams.teams %}
       <div class="teams-h-container">
          <div class="teams-h-top">
          
            <a href="{{ site.url }}{{ site.baseurl }}/teams.html#{{ team.teamname }}" target="_self">
            
             
         
          </div>
          <div class="teams-h-bottom">
            <h3 class="teams-h"><a class="teams-h" href="{{ site.url }}{{ site.baseurl }}/teams.html#{{ team.teamname }}" target="_self"> {{ team.emojicode }} {{ team.teamname }}</a></h3> 
            
            
            <p class="teams-h"> 

              {% for member in team.members.names %}
                
                &#x2022; {{ member }} 
                
              {% endfor %}

              {% for mentor in team.mentor.names %}
              &#x2022; {{ mentor }}(M)
              {% endfor %}
              
            
            </p>
            
          </div>
       </div>
      {% endfor %}
      </span>   
      
    
 